*.so.dSYM/
*.so
*.pyd
*.pyf
obj/*
**/__pycache__/**
*.o
*.mod
.idea
doc/_build/*
tools/**
**/.ipynb_checkpoints/**
**/Untitled*.ipynb
**.cbc
**.dis.grb
**.hds
**.lst
**/__pymf6__backup/**
**/data_mapping.pkl
**.csv
build/**
dist/**
pymf6.egg-info/**
**/fort.*
doc/lib_path.txt
**/screen.txt
scratch/**
**/~*
**/.simulations
pymf6/tests/functional/scenarios/*.png
pymf6/tests/functional/local_commmands.txt
pymf6/tests/functional/scenarios/.notebooks
**.~lock.**
pymf6/tests/functional/scenarios/*_param.db.*
**.stdout
src/scratch/**
**/.vscode/**
src/tests/mf6examples/**/run.bat
**.uzt.bin
**.bud
**.ucn
**.disv.grb
src/tests/Scratch.ipynb
src/tests/errors.txt
**.bin
src/pymf6.egg-info/**
src/pymf6/_version.py
src/pymf6/.vs/**
doc/examples/**/models/**
**/scratch/**
