*.so.dSYM/
*.so
*.pyd
*.pyf
obj/*
**/__pycache__/**
*.o
*.mod
.idea
doc/_build/*
tools/**
doc/notebooks/.ipynb_checkpoints/**
**.cbc
**.dis.grb
**.hds
**.lst
**/__pymf6__backup/**
**/data_mapping.pkl
**.csv
